body {
  margin: 0 auto;
  width: 600px;
  background-color: #fafafa;
  min-height: 100vh;
}

body,
html {
  height: 100%;
}

button {
  border: none;
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --radius: 6px;
  --border: 1px solid #eaeaea;
  --blue: #2684ff;
}
