body {
  margin: 0 auto;
  margin-top: 40px;
  width: 40vw;
  min-width: 800px;
  background-color: white;
  padding-bottom: 8rem;
}

body,
html {
  height: 100%;
}

button {
  border: none;
}

* {
  font-family: sans-serif;
}
