body {
  margin: 0;
  background-color: #fafafa;
  min-height: 100vh;
}

body,
html {
  height: 100%;
  box-sizing: border-box;
}

button {
  border: none;
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: inherit;
}

:root {
  --radius: 4px;
  --border: 1px solid #eaeaea;
  --blue: #2684ff;
  --fg: #131314;
}

#__next {
  display: grid;
  grid-template-areas: "nav content";
  grid-template-columns: min-content auto;
  height: 100vh;
  overflow: hidden;
}
