.addFilterButton {
  border-radius: var(--radius);
  font-size: 14px;
  background-color: white;
  border: var(--border);
  padding: 0 16px;
  height: 40px;
  box-sizing: border-box;
}

.addFilterButton:hover {
  background-color: #eaeaea;
}

.container {
  position: relative;
}
.filterList {
  flex-direction: column;
  z-index: 999;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  border: var(--border);
  background: white;
  box-shadow: 0px 10px 40px rgba(92, 92, 92, 0.25);
  border-radius: var(--radius);
}

.filterButton {
  background: white;
  text-align: left;
  padding: 10px 16px;
  font-size: 14px;
}

.filterButton:hover {
  background-color: #f1f2f3;
}

.addFilterButton,
.filterButton {
  cursor: pointer;
}

.caption {
  font-size: 12px;
  color: gray;
  margin-top: 0.25rem;
}
