.chart {
  width: 600px;
  min-height: 370px;
  padding: 16px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  align-items: stretch;

  /* background: rgba(0, 0, 0, 0.015); */
  border-radius: var(--radius);
  box-shadow: rgba(55, 53, 47, 0.15) 0px 0px 0px 1px;
  margin-bottom: 4rem;
}

.header {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
}

.body {
  width: 568px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.2;
  color: #57606a;
}

.loader {
  margin-bottom: 40px;
}
