.collectionIcon {
  border-radius: 999px;
  margin-right: 10px;
}

.chainIdIcon {
  position: absolute;
  border-radius: 999px;
}

.collectionContainer {
  position: relative;
}

.input,
.deleteButton {
  height: 38px;
  border-radius: var(--radius);
  padding: 10px;

  box-sizing: border-box;
  font-size: medium;
}

.input {
  border: var(--border);
}

.input:focus,
.deleteButton:focus {
  outline: none;
  border-width: 1px;
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.deleteButton {
  position: absolute;
  right: -48px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  font-size: 0.8rem;
}

.deleteButton:hover {
  background-color: hsl(0, 0%, 90%);
}

.container {
  padding: 16px;
  border-radius: var(--radius);
  border: var(--border);
  background-color: #f1f2f3;
  position: relative;
  height: 36px;
}
