.input,
.deleteButton {
  height: 38px;
  border-radius: var(--radius);
  padding: 10px;
  box-sizing: border-box;
  font-size: medium;
}

.input {
  border: var(--border);
  transition: 100ms;
  width: 4rem;
}

.input:hover {
  border-color: hsl(0, 0%, 70%);
}

.input:focus,
.deleteButton:focus {
  outline: none;
  border-width: 1px;
  border-color: var(--blue);
  box-shadow: 0 0 0 1px var(--blue);
}

.deleteButton {
  position: absolute;
  right: -48px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  font-size: 0.8rem;
}

.deleteButton:hover {
  background-color: hsl(0, 0%, 90%);
}

.container {
  padding: 16px;
  border-radius: var(--radius);
  /*border: var(--border);*/
  /*background-color: white;*/
  position: relative;
  height: 36px;
  font-size: 14px;
}
