.content_header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 36px;
}

.content_header__title {
  font-size: 32px;
  font-weight: 500;
}

.content_header__chain {
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.content_header__chain_icon {
  background: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -40px;
  top: -6px;
}
