.th,
.td {
  border: var(--border);
  font-family: monospace;
  border-collapse: collapse;
  padding: 10px 12px;
  color: var(--fg);
  font-size: 14px;
}

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  background: white;
}

.table tr:hover {
  background: rgba(234, 234, 234, 0.3);
}

.container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*min-height: 470px;*/
  border-radius: 2px;
  width: 100%;
  padding: 16px;
}

.container_loading {
  border: var(--border);
  min-height: 400px;
  margin: 16px;
  background-color: white;
}

.emptyText,
.loader {
  font-size: 14px;
  line-height: 1.2;
  color: #57606a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.th {
  text-align: left;
  font-weight: 600;
}
