.th,
.td {
  border: var(--border);
  font-family: monospace;
  border-collapse: collapse;
  padding: 8px;
  color: var(--fg);
  font-size: 12px;
}

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background: white;
  min-height: 470px;
  border-radius: 2px;
}

.emptyText,
.loader {
  font-size: 14px;
  line-height: 1.2;
  color: #57606a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.th {
  text-align: left;
  font-weight: 600;
}
