.content {
  padding: 0 24px;
}

.search_bar {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1;
  height: 40px;
  padding: 0 58px;
  margin: 16px;
}

.search_icon {
  padding-right: 6px;
}

.search_input {
  all: unset;
  font-size: 14px;
  color: rgba(0, 0, 0, .4);
  width: 100%;
}

.actions_panel {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 16px;
}

.actions_panel__action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions_panel__action:hover {
  text-decoration: underline;
  cursor: pointer;
}

.actions_panel__action > img {
  padding-right: 4px;
}
