.heading {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 600;
}

.subheading {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.562);
  font-weight: 400;
  margin: 0;
  margin-top: 2px;
}

.header {
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1a1a1a;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.queryButton {
  background-color: #1a1a1a;
  color: white;
  padding: 0 16px;
  height: 36px;
  box-sizing: border-box;
  font-weight: 500;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 14px;
  transition: 150ms;

  border: 1px solid;
  border-color: transparent;

  width: 140px;
}

.queryButton:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.h3 {
  color: var(--fg);
  font-weight: 500;
  margin: 0;
  font-size: 18px;
}

.main {
  width: 600px;
  margin: 0 auto;
}

.signUpLink {
  text-underline-offset: 5px;
  color: white;
}

.signUpLink:hover {
  color: rgb(230, 223, 223);
}

.footer {
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}
