.heading,
.subheading {
  text-align: center;
  margin: 0;
}

.heading {
  color: #382e2e;
}

.subheading {
  font-size: 20px;
  color: #635858;
  font-weight: normal;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queryButton {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 500;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.queryButton:hover {
  background-color: #303030;
}

.header {
  padding: 60px 0;
}
