.heading {
  margin: 0;
  color: #382e2e;
  font-size: 16px;
  font-weight: normal;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queryButton {
  background-color: black;
  color: white;
  padding: 0 16px;
  height: 40px;
  box-sizing: border-box;
  font-weight: 500;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 14px;
  transition: 150ms;

  border: 1px solid;
  border-color: transparent;

  min-width: 140px;
}

.queryButton:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.header {
  position: absolute;
  top: 35px;
  left: 35px;
}

.h3 {
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
