.container {
  padding: 16px;
}

.platesArray {
  display: flex;
  flex-wrap: wrap;
}

.plate {
  padding: 16px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.plateContent {
  border: var(--border);
  position: relative;
  border-radius: 4px;
  overflow: auto;
  /*color: rgb(255, 255, 255);*/
  padding: 24px;
  height: 100%;
  /*background: rgb(0, 26, 44) none repeat scroll 0% 0%;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: max-height 100ms ease-in 0s;
  max-height: 30000px;
}

.plateTitle {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
  text-align: center;
}

.plateValue {
  font-size: 24px;
  line-height: 32px;
  font-family: monospace;
  margin: 0;
  overflow-wrap: break-word;
  max-width: 100%;
  text-align: center;
}

.row {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: space-between;
}

.holdingsTokenCell {
  position: relative;
  padding-left: 26px;
}

.holdingsIcon {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.inTableLink {
  color: initial;
  font-family: inherit;
  text-decoration: none;
}

.inTableLink:hover {
  text-decoration: underline;
}

.splitTables {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  grid-gap: 24px;
}
