.container {
  padding: 16px;
  border-radius: var(--radius);
  border: var(--border);
  background-color: white;
  position: relative;
  /*height: 36px;*/
  font-size: 14px;
}

.row {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: space-between;
}

.plate {
  font-size: 12px;
  width: calc(32px * 5);
  text-align: center;
  font-variant: small-caps;
}

.box {
  padding: 16px;
  border-radius: var(--radius);
  border: var(--border);
  background-color: white;
  position: relative;
  height: 36px;
  font-size: 18px;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  display: flex;
  justify-content: center;
  align-items: center;
}
