.page_content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.th,
.td {
  border: var(--border);
  border-collapse: collapse;
  padding: 10px 12px;
  color: var(--fg);
  font-size: 14px;
  border-right: transparent;
  border-left: transparent;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 1px solid #eaeaea;
  cursor: default;
}

.table tr:hover {
  background: rgba(234, 234, 234, 0.3);
}

.table a {
  text-decoration: none;
  color: black;
}

.table a:hover {
  text-decoration: underline;
}

.thead {
  height: 52px;
  background: #fafafa;
  font-size: 14px;
}

.container {
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 2px;
  width: 100%;
  overflow-x: scroll;
}

.container_loading {
  border: var(--border);
  min-height: 580px;
  background-color: white;
  display: flex;
}

.emptyText,
.loader {
  font-size: 14px;
  line-height: 1.2;
  color: #57606a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.th {
  text-align: left;
  font-weight: 600;
}

.title {
  cursor: text;
  outline: none;
  /*text-decoration: #cbcbcb underline dotted;*/
  text-decoration-thickness: 1.3px;
  padding: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
}

.title:hover {
  border-color: rgb(223, 225, 228);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 5px;
}

.date {
  white-space: nowrap;
}

a.link {
  text-decoration: unset !important;
  background-image: url('/link-attachment-circle.svg');
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
  transition: filter 0.15s ease-in-out 0s;
}

a.link:hover {
  filter: contrast(5%);
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 360px;
}

.filter_tag {
  background: #cccccc55;
  padding: 3px 6px;
  border-radius: 6px;
  margin-right: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}


.actions_panel {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  user-select: none;
}

.actions_panel__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*margin-left: auto;*/
}

.actions_panel__action:hover {
  text-decoration: underline;
  cursor: pointer;
}

.actions_panel__action > img {
  padding-right: 4px;
}
